@{
    ViewBag.Title = "Index";
}

<h2>Score del Juego</h2>
<span>Juego Iniciado</span>

<fieldset>
<span>Turno: Jugador 1</span><br />
<span>Oportunidad: 1</span>
<table id="Score" border="1" cellpadding="2" width="400">
<thead>
<tr>
<th>Jugador</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>10</th>
<th>score</th>
</tr>
</thead>
<tbody>
<tr>
<td>Jugador 1</td>
<td>@if (ViewBag.Score != null)
    {@ViewBag.Score}</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
<tr>
<td>Jugador 2</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
<tr>
<td>Jugador 3</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
<tr>
<td>Jugador 4</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
</tbody>
</table>
@using (Html.BeginForm("RegistraTiro","Score")) {
    <span>Pinos tirados: @Html.TextBox("txtPinos");</span>
    <input type="submit" id="btnOk" value="Ok" />
    @Html.ActionLink("Chuza", "RegistraChuza", "Score", null, new {@id="btnChuza"});
}
</fieldset>